@font-face {
    font-family: 'Poppins Black';
    src: url('../../fonts/poppins-black.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins BlackItalic';
    src: url('../../fonts/poppins-blackitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('../../fonts/poppins-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins BoldItalic';
    src: url('../../fonts/poppins-bolditalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins ExtraBold';
    src: url('../../fonts/poppins-extrabold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins ExtraBoldItalic';
    src: url('../../fonts/poppins-extrabolditalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Italic';
    src: url('../../fonts/poppins-italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Light';
    src: url('../../fonts/poppins-light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins LightItalic';
    src: url('../../fonts/poppins-lightitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Regular';
    src: url('../../fonts/poppins-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('../../fonts/poppins-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins MediumItalic';
    src: url('../../fonts/poppins-mediumitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../../fonts/poppins-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins SemiBoldItalic';
    src: url('../../fonts/poppins-semibolditalic.ttf') format('truetype');
}
@font-face { 
    font-family: 'Poppins Thin';
    src: url('../../fonts/poppins-thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins ThinItalic';
    src: url('../../fonts/poppins-thinitalic.ttf') format('truetype');
}
