
.modal {
  display:  none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}
.containlog{
    border-radius: 25px 25px 25px 25px;
    width: 35%;
    background-color: #ffce52;
    position: fixed;
    top: 15%;
}

.containask{
    border-radius: 25px 25px 25px 25px;
    width: 35%;
    background-color: #ffce52;
    position: fixed;
    top: 25%;
}
.containregs{
    border-radius: 25px 25px 25px 25px;
    width: 50%;
    position: fixed;
    top: 45%;
    font-size: 100%;
}
.containregp{
    border-radius: 25px 25px 25px 25px;
    width: 50%;
    position: fixed;
    top: 45%;
}

.close {
  float: right;
  font-size: 100%;
  font-weight: bold;
  margin: 3%;
  cursor: pointer;
}

.main_content{
 margin-top: 20%;
}
.imsc{
    margin:2%;
    cursor: pointer;
    position: sticky;
}
.dvs{
    position: sticky;

}
.slogan{
    position: absolute;
    top: -3%;
}
.pf{
    margin-top: 30%;
}
.serv{
    position: absolute;
    left: 36%;
    top: 35%;
    width: 25%;
    border: 2px solid #5473FF;
    border-radius: 20px 20px 15px 15px;
    text-align: center;
    padding-top: 5%;
    height: 20%;
}
.divi{
    width: 100%;
    margin-top: 5%;
    height: 80px;
    background-color: #BCB9DC;
    text-align: center;
    padding-top: 2%;
    font-size: 100%;}

.di{
   font-size: 15px;
   cursor: pointer;
}
.di:hover{
    color: #3D4FFF;
}
.decor{    
    position: absolute;

}
.decor1{
    margin-right: 5%;
    border-bottom-width: 2em;
    margin-bottom: 5%;
 
 
}
.decor2{
    display: inline-block;
    margin-top: 5%;
    margin-right: 5%;
    
    
}
.decor3{
    border-top-width: 4em ;}
  

.avatar{
    margin: 15%;
}
.button-primary {
            width: 50%;
            margin: 12px auto;
            background-color: #3D4FFF;
            padding: 5px 70px;
            color: #ffff;
            font-family: "Poppins Medium", sans-serif;
            font-size: 20px;
            border: 5;
            border-radius: 50px 50px 50px 50px;
            cursor: pointer;
            text-align: center;
        }
.button-primary:hover{
    background-color: #FFED3D;
}
.di1{
    color: #FFD20F;
    font-size: 100%;
}
.divi1{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 80px;
    text-align: center;
    padding-top: 2%;
    background-color: #292626;
}
.offre{
    margin: 3%;
    position: relative;
    text-align: center;
}

.currency1{
    position: absolute;
    top: -500em;
    right: 40%;

}
.content1{
    position: absolute;
    top: 20;
}
.but1{
    position: absolute;
}


.currency2{
    position: absolute;
}
.content2{
    position: absolute;
}
.but2{
    position: absolute;
}


.currency3{
    position: absolute;
}
.content3{
    position: absolute;
}
.but3{
    position: absolute;
}
.decor22{
    display: inline-block;
    margin-right: 5%;
    width: 100%;
    background-color: #ffecb3;
    height: 500px;
    padding-top: 40%;
}
.decor11{
    position: absolute;}

.btn-primary2{
    background-color: #9E0000;
}


.auth-container {
    height: 30%;
    display: grid;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    }

    @media screen and (min-width: 500px) {
            border: none;
        }
    .auth-container__card {
        padding: 20px 25px;
        border-radius: 20px;
        background-color: #FBAB0D;
        text-align: center;
        padding: 5px auto;
        width: 60%;
        justify-content: center;
        }
        .auth-container__title {
            color: $primary;
            font-family: "Poppins Medium", sans-serif;
            font-size: 100%;
            text-align: center;
            padding: 10px 30px;
            padding-top: 0;
            font-weight: 500;
        }
        .auth-container__logo {
            display: block;
            margin: 0 auto;
            width: 9rem;
            height: 9rem;
        }

        select:focus, select:active {
            box-shadow: none !important;
            outline: none !important;
            border-color: $grey-100 !important;
        }
        .label {
            font-size: 100%;
            margin-bottom: 5px;
            color: $grey-400;
            display: block;
        }

        .auth-container__input-container {
            display:grid;
            position: relative;
            }
            svg {
                display: block;
                margin: 26px 20px;
                position: absolute;
            }

            .auth-container__input {
                margin: 3px 0;
                width: 100%;
                height: 120%;
                border-radius: 50px 50px 50px 50px;}

                @media screen and (max-width: 400px) {
                    width: 245px;
                }
            

            svg {
                cursor: pointer;
                right: 0;
            }
        

        .auth-container__line-element {
            margin-top: 20px;
            opacity: 0.8;}

            .auth-container__line-text {
                display: block;
                width: 10ch;
                text-align: center;
                margin: 0 auto;
                margin-top: -0.8rem;
                color: $grey-500;
                font-size: 15px;
                font-family: "Poppins Regular", sans-serif;
            }
            .auth-text {
                color: $primary;
                font-size: 1.45rem;
                cursor: pointer;
                text-decoration: underline;
                font-weight: 600;
                text-align: center;
                margin-top: 25px;
                font-family: "Poppins Regular", sans-serif;
            }

            .back-home-text {
                display: block;
                margin-top: 40px;
                cursor: pointer;
                font-size: 1.25rem;
                text-align: center;
                text-decoration: underline;
            }
        
        .error-box {
            margin-top: 20px;}
            .error-text {
                color: $danger;
                font-size: 15px;
                text-align: center;
            }
        
        
    

.mline{
    margin-top: 50%;
    text-align:center;
}
.border_profile{
    border: transparent;
    text-decoration: none;

}
label{
    
    font-size: 1em;
}
.proI{
    width: 45vh;
    font-size: 1rem;
}
.remember{
    margin: 3px 0;
    width: 310px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modalfixed {
    display:flex; 
    position:fixed;
    z-index:1500;
    height:100%;
    background-color: RGBA(0, 0, 0, 0.6);
    opacity:0.6;
    width:100%;
    text-align: center;
    padding-top: 10%;
    padding-left: 40%;
    transform: translate(-50%,-50%);

}

